@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

:root {
    --heading-font: 'Roboto', sans-serif;
    --text-font: 'Open Sans', sans-serif;
    --bg-colour: #F07167;
    --bg-pale: #FDFCDC;
    --dark-font: #3c4449;
    --light-element-colur: #00afb9;
    --dark-element-colour: #0081a7;
}

body {
    background-color: var(--bg-colour);
    margin: 0;
    font-family: var(--heading-font);
}

h2 {
    font-size: 28px;
    font-family: var(--heading-font);
}

p {
    font-size: 22px;
    font-family: var(--text-font);
}
#project-list {
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    column-gap: 30px;
    display: grid;
    grid-template-columns: 35% 35% 35%;
    justify-content: center;
    margin: 80px;
    row-gap: 20px;
    border-radius: 5px;
}

#project-page {
    box-shadow: 0px 0px 10px #963e37;
    border-radius: 5px;
    text-align: center;
    padding: 1rem;
    background-color: var(--bg-pale);
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 576px) {
    #project-list {
        max-width: 1200px;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        display: grid;
        gap: 1rem;
    }

}



